{% extends "base.html" %}
{% load static %}

{% block title %}Панель управления - Ландыш{% endblock %}

{% block content %}
{# Боковая панель #}
{% include "frontend/partials/_sidebar.html" %}

{# Основной контент #}
<div class="main-content">
    <div class="panel">
        <div id="contentArea">
            {% include "frontend/partials/_welcome.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{# Передаём данные текущего пользователя в JavaScript #}
<script>
    window.CURRENT_USER_ID = {{ user.id }};
    window.IS_ADMIN = {{ is_admin|yesno:"true,false" }};
</script>

{# Подключаем модульные JS файлы #}
<script src="{% static 'frontend/js/utils.js' %}"></script>
<script src="{% static 'frontend/js/navigation.js' %}"></script>
<script src="{% static 'frontend/js/statistics.js' %}"></script>
<script src="{% static 'frontend/js/users.js' %}"></script>
<script src="{% static 'frontend/js/groups.js' %}"></script>
<script src="{% static 'frontend/js/confirm-modal.js' %}"></script>

{# Модули для работы с подключениями (разбиты на части для лучшей поддерживаемости) #}
<script src="{% static 'frontend/js/connections-utils.js' %}"></script>
<script src="{% static 'frontend/js/connections-core.js' %}"></script>
<script src="{% static 'frontend/js/connections-clusters.js' %}"></script>
<script src="{% static 'frontend/js/connections-folders.js' %}"></script>
<script src="{% static 'frontend/js/connections-dragdrop.js' %}"></script>
<script src="{% static 'frontend/js/connections-infobases.js' %}"></script>
<script src="{% static 'frontend/js/connections-servers.js' %}"></script>
<script src="{% static 'frontend/js/connections-sessions.js' %}"></script>
<script src="{% static 'frontend/js/connections-processes.js' %}"></script>
<script src="{% static 'frontend/js/connections-managers.js' %}"></script>
<script src="{% static 'frontend/js/connections-agents.js' %}"></script>
<script src="{% static 'frontend/js/connections-admins.js' %}"></script>
<script src="{% static 'frontend/js/connections.js' %}"></script> {# Основной файл с остальным функционалом (модальные окна, таблицы, детальные функции) #}

<script src="{% static 'frontend/js/rules.js' %}"></script>
<script src="{% static 'frontend/js/settings.js' %}"></script>
<script src="{% static 'frontend/js/app.js' %}"></script>
{% endblock %}
