{% extends "base.html" %}
{% load static %}

{% block title %}Панель управления - Ландыш{% endblock %}

{% block content %}
{# Боковая панель #}
{% include "frontend/partials/_sidebar.html" %}

{# Основной контент #}
<div class="main-content">
    <div class="panel">
        <div id="contentArea">
            {% include "frontend/partials/_welcome.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{# Передаём ID текущего пользователя в JavaScript #}
<script>
    window.CURRENT_USER_ID = {{ user.id }};
</script>

{# Подключаем модульные JS файлы #}
<script src="{% static 'frontend/js/utils.js' %}"></script>
<script src="{% static 'frontend/js/navigation.js' %}"></script>
<script src="{% static 'frontend/js/statistics.js' %}"></script>
<script src="{% static 'frontend/js/users.js' %}"></script>
<script src="{% static 'frontend/js/groups.js' %}"></script>
<script src="{% static 'frontend/js/connections.js' %}"></script>
<script src="{% static 'frontend/js/settings.js' %}"></script>
<script src="{% static 'frontend/js/app.js' %}"></script>
{% endblock %}
